<h1>My CV</h1>
<img src="/assets/images/Me.jpg" alt="" width="10%" height="10%">
<h2>Kullanan Thanachotanan</h2>
<h3>I'm 20</h3>
<div>
    <h2><u>CONTACT</u></h2>
    <ul>
        <li>Email: akoranos@gmail.com</li>
        <li>Phone number: 0917919608</li>
        <li>Current address: Chiang Mai, Thailand</li>
    </ul>
</div>